
.flights .search {
  display: flex;
  width: 100%;
  justify-content: center;
  height: auto;
  padding: 15px 30px;
}

.flights .available {
  width: 100%;
  padding: 20px;
}


.parentFlight{
   border: 1px solid black;
  border-radius: 10px;
}


.trip-type{
  margin-bottom: 5px;
  margin-top: 50px;
}


.search{
  background-color: #0B2644;
}
